.container {
    position: relative;
    text-align: center;
    color:white;
}

body{
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 auto;
}

img{
    width: 100%;
}

.centered{
    position: absolute;
    top: 8%;
    left: 75%;
    text-align: center;
    transform: translate(-50%, -50%);
}