::-webkit-scrollbar {
    display: none;
}

.back {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    
}

body{
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 auto;
}

img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}

.banner{
    position: fixed;
    top: 0%;
    left: 50%;
    height: 50%;
    width: 50%;
}

.content{
    position: absolute;
    top: 14%;
    left: 75%;
    font-size: 60px;
    color: white;
    text-align: center;
    transform: translate(-50%, -50%);
}